body{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background: linear-gradient(220.55deg, #FF8570 0%, #418CB7 100%);
}

h2{
    font-family: sans-serif;
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
    margin-bottom: 0;
    
}