<h2 class="title">Minhas Candidaturas</h2>

<div class="container">
    
    <div class="atributos">
      <p>Data:</p>
      <p>Plataforma:</p>
      <p>Empresa:</p>
      <p>Cargo:</p>
      <p>excluir:</p>
    </div>
    <div class="content">
       <ul *ngFor="let item of arr let indexOfelement=index">
          <li class="date">{{item.data | date: 'dd/MM'}} -</li>
          <li>{{item.plataforma}} -</li>
          <li>{{item.empresa}} -</li>
          <li>{{item.cargo}} -</li>
          <input type="checkbox" (change)="deleteItem(indexOfelement)">
       </ul>
    </div> 
    <div class="btn">
       <button id="new" routerLink="/form">New</button> 
    </div> 
</div>
